<h1><%= @country["name"] %></h1>
<%#= @country %>
<p><%= @country["capital"] %></p>
<p><%= @country["region"] %></p>
<p><%= @country["subregion"] %></p>
<p><%= @country["population"] %></p>
<p><%= @country["area"] %></p>
<p><%= @country["nativeName"] %></p>
<p><%= @country["topLevelDomain"] %></p>
<p><%= @country["alpha2Code"] %></p>


<%#= link_to "Back To Course Listing", courses_path  %>
